{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% block styles%}
{{ super() }}

<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
 <script src="https://kit.fontawesome.com/83d474e45f.js" crossorigin="anonymous"></script>
 {% endblock %}

 {% block content%}
 
 <div class="container-fluid" id="particles-js" style="background-color:black;color:white">

    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="cats" data-toggle="tab" href="#all" style="color:white"><strong>Pitches</strong></a><br>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="cats" data-toggle="tab" href="#language" style="color:white"><strong>Language</strong></a><br>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="cats" data-toggle="tab" href="#family" style="color:white"><strong>Family</strong></a><br>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="cats" data-toggle="tab" href="#education" style="color: white"><strong>Education</strong></a><br>
    </li>
     <li class="nav-item">
        <a class="nav-link" id="cats" data-toggle="tab" href="#friends" style="color:white"><strong>Friends</strong></a><br>
    </li>
     <li class="nav-item">
        <a class="nav-link" id="cats" data-toggle="tab" href="#favorite" style="color: white"><strong>Favorite</strong></a><br>
    </li>
    </ul>

    <hr>
    <br><br>
    <div class="tab-content">
    <div class="container tab-pane active" id="all"><br>
    {{macro.display(pitches)}} </div>

    <div class="container tab-pane fade" id="language"><br>
    {{macro.display(language)}} </div>
     <div class="container tab-pane fade" id="family"><br>
    {{macro.display(family)}} </div>
     <div class="container tab-pane fade" id="education"><br>
    {{macro.display(education)}} </div>
   </div>
   <div class="container tab-pane fade" id="friends"><br>
    {{macro.display(friends)}} </div>
   </div>
   <div class="container tab-pane fade" id="favorite"><br>
    {{macro.display(favorite)}} </div>
   </div>
</div>
</div>
{% endblock %}